body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name {
    color: orange;
}


.welcome {
    width: 100%;
    margin-left: 5%;
}

.welcome1 {
    margin-top: 2%;
}

.welcome1 img {
    width: 70%;
}


.welcome p {
    color: rgba(0, 0, 0, 0.689);
}

.button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(red, orange);
    padding: 10px 30px;
    border-radius: 8px;

}

#top-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;

}

#middle-section {
    display: flex;
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
}

.middle-margin {
    margin-left: 5%;
}

.middle-no-margin {
    margin-right: 10%;
}

.middle-no-margin p {
    color: rgba(0, 0, 0, 0.689);
}

.flex {
    display: flex;
}

.box-shadow {
    box-shadow: 20px 20px 80px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 22px;
    border-radius: 10px;

}

.h2-box {
    font-size: 38px;
}

.h1-experience {
    margin-left: 5%;
}

.flex p {
    color: rgba(0, 0, 0, 0.689);
    text-align: justify;
}

.left-border1 {
    border-left: 10px solid rgb(102, 51, 153);
}

.left-border2 {
    border-left: 10px solid rgb(0, 72, 255);
}

#experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 80px;
}

footer p {
    text-align: center;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.689);
}