body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name {
    color: orange;
}


.welcome {
    width: 100%;
    margin-left: 5%;
}

.welcome1 {
    margin-top: 2%;
}

.welcome1 img {
    width: 70%;
}


.welcome p {
    color: rgba(0, 0, 0, 0.689);
}

.button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(red, orange);
    padding: 10px 30px;
    border-radius: 8px;

}

#top-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;

}

#middle-section {
    display: flex;
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.middle-width {
    width: 50%;
}

.middle-margin {
    margin-left: 5%;
}

.middle-no-margin {
    margin-right: 10%;
}

.middle-no-margin p {
    color: rgba(0, 0, 0, 0.689);
}